/* General Styles */
body, html {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #ecf0f1;
}

/* Profile Container */
.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background: #2c3e50;
    color: #fff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main Content */
.main-content {
    flex: 1;
}

/* Top Bar */
.top-bar {
    background: #3498db;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* User Profile Picture */
.user-profile-pic img {
    width: 100px; /* Adjust as needed */
    height: 100px;
    border-radius: 50%;
    border: 2px solid #3498db;
}

/* User Stats */
.user-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats-movies-watched, .stats-reviews-written {
    background: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Reviews Section */
.reviews-section {
    width: 100%;
    padding: 20px;
}

.review {
    background: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.review p {
    margin: 0;
}

.search-button {
    padding: 8px 10px;
    background-color: orange; /* Theme color for the button */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }

.search-button i {
    pointer-events: none; /* Makes the icon non-interactive */
}